.btn{
  color: #ffffff;
  background-color: #007bff;
  border: none;
}

.btn:hover{
  background-color: #007bff;
  color: #ffffff;
}

.footer {
  background-color: #f8f9fa;
  color: #6c757d;
  text-align:end;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}